<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<pcList>
		<pcs>
			<pc alias="Main PC" ipAddress="192.168.1.140" />
			<pc alias="PC Unit1-A" ipAddress="192.168.1.170" />
			<pc alias="PC Unit1-B" ipAddress="192.168.1.180" />
			<pc alias="PC Unit2" ipAddress="192.168.1.150" />
			<pc alias="PC Unit3" ipAddress="192.168.1.160" />
			<!-- Add more PCs as needed -->
		</pcs>
	</pcList>
	<configSections>
		<!-- Register the custom section handler -->
		<section name="pcList" type="System.Configuration.NameValueSectionHandler"/>
	</configSections>
	<appSettings>
		<add key="port" value="5000"/>
		<add key="logFilePath" value="C:\Logs\app.log"/>
		<add key="logFileMaxSize" value="1000000"/>
	</appSettings>

</configuration>
